# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node Package Manager
node_modules/
frontend/node_modules/

# Built Frontend Assets
frontend/dist/

# Photo Booth Temporary / Captured Photos
backend/photos/photo_*.jpg
backend/overlays/blush_floral.png
backend/overlays/gold_glitter.png
backend/PlayfairDisplay-Regular.ttf

# Session log files
logs/*
scratch/*

# Local IDE Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.venv/
.agents/

# Test coverage file
.coverage
